**/__pycache__
/.idea/misc.xml
/.idea/modules.xml
/.idea/netlogo-ext.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
netlogo.state
*.db
output
saved_models
robot_sa_data
generated_*.csv
.venv/
.matplotlib/

zipped all.zip
